/* For desktop: */
body {
    margin: 0;
}

.row {
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    padding: 15px;
}

header .main-header {
    background: #f5f5f5;
    text-align: center;
}

.nav-menu-bottom ul {
    text-align: center;
    background: #eeee;
    padding: 10px;
}

.nav-menu-bottom ul li {
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    border-right: 1px #333 solid;
}

.nav-menu-bottom ul li:last-child {
    border-right: unset;
}

.nav-menu-bottom ul li a {
    text-decoration: unset;
    color: #222222;
}

.main-content {
    display: flex;
}

.taskbar {
    padding: 15px;
}

.box-video {
    /*padding: 20px;*/
}

.box-video-detail .title h2 {
    margin-top: 0;
}

.bg-gray {
    background: #eee;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile table: */
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
    .row.taskbar.main-content {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}